<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本的表格</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<table class="table">
    <caption>查询销售情况</caption>
    <form action="/select" method="get" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">右边是输入查询销售信息</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username"
                       name="username"
                       placeholder="请输入名字">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 请记住我
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="搜索" class="btn btn-default">搜索该用户</input>
            </div>
        </div>
    </form>

    <form action="/shop" method="get" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="查看商品信息" class="btn btn-default">查看商品信息</input>
            </div>
        </div>
    </form>

    <form action="/shop" method="get" style="" class="form-horizontal " role="form">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="查看库存信息" class="btn btn-default">查看库存信息</input>
            </div>
        </div>
    </form>
    <thead>
    <tr>
        <th>进货编号</th>
        <th>商品名称</th>
        <th>进货工厂</th>
                <th>商品编号</th>
        {#        <th>商品名称</th>#}
        {#        <th>商品单格</th>#}
        {#        <th>商品上架转态</th>#}
        <th>进货金额</th>
        <th>进货数量</th>
        {#        <th>销售日期</th>#}
    </tr>
    </thead>
    <tbody>
    {#    <tr>#}
    {#        <td>Tanmay</td>#}
    {#        <td>Bangalore</td>#}
    {#    </tr>#}
    {% for itm in data_list %}
        <tr>
            <td>{{ itm.id }}</td>
            <td>{{ itm.name }}</td>
            <td>{{ itm.kesuan }}</td>
            <td>{{ itm.address }}</td>
            <td>{{ itm.age }}</td>
            <td>{{ itm.number }}</td>
            <td>{{ itm.vaccine }}</td>
            <td> {{ itm.date}}</td>
            <div style="position:absolute ;top: 260px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 300px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 340px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 380px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 420px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 460px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 500px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 540px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
            <div style="position:absolute ;top: 590px ;right: 0px">
                <button type="button" class="btn btn-primary" onclick="editInfo()">修改或删除</button>
            </div>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
